@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{


/* CSS HEX */
--br-input: rgba(0, 0, 0, 0.08);
--bs-blue: #0d6efd;
--bs-indigo: #6610f2;
--bs-purple: #6f42c1;
--bs-pink: #d63384;
--bs-red: #dc3545;
--bs-orange: #fd7e14;
--bs-yellow: #ffc107;
--bs-green: #198754;
--bs-teal: #20c997;
--bs-cyan: #0dcaf0;
--bs-white: #fff;
--bs-gray: #575757;
--bs-gray-dark: #0b163f;
--bs-gray-100: #f8fafc;
--bs-gray-200: #f8f9fa;
--bs-gray-300: #e2e8f0;
--bs-gray-400: #c0c0c5;
--bs-gray-500: #94a3b8;
--bs-gray-600: #575757;
--bs-gray-700: #071c4d;
--bs-gray-800: #0b163f;
--bs-gray-900: #010e2b;
--bs-primary: #175cff;
--bs-accent: #077765;
--bs-secondary: #c0c0c5;
--bs-success: #5cc9a7;
--bs-info: #50b5ff;
--bs-warning: #ffb116;
--bs-danger: #f25767;
--bs-light: #fff;
--bs-dark: #0b163f;
--bs-primary-rgb: 23, 92, 255;
--bs-accent-rgb: 7, 119, 101;
--bs-secondary-rgb: 192, 192, 197;
--bs-success-rgb: 92, 201, 167;
--bs-info-rgb: 80, 181, 255;
--bs-warning-rgb: 255, 177, 22;
--bs-danger-rgb: 242, 87, 103;
--bs-light-rgb: 255, 255, 255;
--bs-dark-rgb: 11, 22, 63;
--bs-white-rgb: 255, 255, 255;
--bs-black-rgb: 12, 8, 0;
--bs-body-color-rgb: 87, 87, 87;
--bs-body-bg-rgb: 255, 255, 255;
--bs-font-sans-serif: "Open Sans", sans-serif;
--bs-font-monospace: "Poppins", sans-serif;
--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
--white: #FFFFFFff;
--dark-orchid: #9439B7ff;
--medium-orchid: #AC66C8ff;
--white-2: #FFFFFFff;
--carrot-orange: #F09116ff;
--btn-bg: #175cff;
--icon-blue:rgba(23, 92, 255, 0.2);
--icon-red:rgba(242, 87, 103, 0.2);
--icon-green:rgba(92, 201, 167, 0.2);


}

* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

body {

    /*background-image: url("img/bg-page.png");*/
    font-family: poppins;
}

/* HEADER */

header {
    background-color: white;
    /*box-shadow: 0px 0 25px 0px rgb(43 171 160 / 8%);*/
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    position: fixed;
    top: 0;
    

}

.site-menu nav ul{

    display: flex;
    gap: 30px;
    align-items: center;
}

.site-menu nav ul li:last-child{

    background: var(--carrot-orange);
    padding: 5px 20px;
    border-radius: 10px;
    
}

.site-menu nav ul li:last-child a{

    color: var(--white-2);

}
.site-menu nav ul li a{

    color: #575757;
    font-weight: 400;
}


/* MAIN  */

main{

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;

}

.hero {
   
    display: flex;
    justify-content: center;
    /*height: 500px;*/
    align-items: center;
    background-image: url("img/dot-dot-wave-shape.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 70px;
    padding-bottom: 150px;

}



.hero-img img{

    max-width: 800px;

}

.hero-txt {

    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}

.hero-txt h1{

    font-size: 48px;
    color: #0B316F;
}

.hero-txt p{

    font-size: 20px;
    color: #575757;
}

.hero-form form { 

    display: flex;
    gap:10px;

}

.text-email{

    width: 300px;
    border-radius: 10px;
    border: 2px solid #e2e8f0;
    font-size: 16px;
    padding-left: 20px;
    
}

.btn {

    background-color: var(--btn-bg);
    color:white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    
}

.guarantee ul{

    display: flex;
    gap:20px;
    margin-left: 5px;
   

}

.guarantee ul li{


    color:#575757;
    font-size: 16px;
}

.fa-circle-arrow-right{

    font-size: 16px;
    color:#0B316F;
    margin-right: 5px;
}


/* COMPANY INFO */

.company-info{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    padding: 50px 50px;
    gap: 20px;
    

}

.company-info h2{

    color: #175cff;

}

.company-info q{

    color:#0B316F;
    font-size: 40px;
    font-weight: 600px;

}

.company-info span{

    color: #175cff;

}
.company-info p{

    width: 1200px;
    text-align: center;
}

.awards ul{

    display: flex;
    gap: 20px;
}

/* CARDS */

#skills{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 50px 0px 50px 0px;
    background-image: url(img/dot-dot-wave-shape.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.title-section{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title-section h2{

    color: #175cff;

}

.title-section h3{

    font-size: 30px;
    color: #0B316F;
}

.title-section span{

    color: #0B316F;
    font-size: 40px;
}

.title-section p{

    width: 600px;
    text-align: center;
}

.cards{

    display: flex;
    justify-content: space-evenly;
    /*background-image: url('img/dot-big-square.svg');
    background-repeat: no-repeat;*/
    padding: 70px 0px 0px 70px;
    
   
}

.card{

    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px ;
    border-radius: 1rem;
    padding: 50px;
    -webkit-box-shadow: 0 5px 20px 0 rgb(210 210 245 / 50%);
    box-shadow: 0 5px 20px 0 rgb(210 210 245 / 50%);
    background-color: white;

}

.card p{

    text-align: center;
}

.card .icon{

    width: 60px;
    height: 60px;
    background-color:var(--icon-blue);
    border-radius: 3rem;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .icon i{

    color: var(--bs-dark);
    font-size: 30px;
    
}

.card:nth-of-type(2) .icon{

    background-color: var(--icon-red);

    
}

.card:nth-of-type(3) .icon{

    background-color: var(--icon-green);
  
}



.card span{

    text-align: center;
    color: #0b163f;
    font-weight: 600;
    font-size: 18px;
}

.card p{

    color: #575757;
    font-size: 16px;
    width: 300px;
}


/* CONTACT */

#contact{

    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
    margin-top: 100px;
    background-image: url('img/image-1.svg'), url('img/image-3.svg'), url('img/image-2.svg');
    background-position: right top, left top, bottom center;
    background-repeat: no-repeat;
    

}

/* CONTACT */ /* CONTACT COLUMNS */

#contact .contact-info{

    width: 500px;
    padding: 25px;
    

}

.contact-columns{

    display: flex;
    gap: 20px;
    
    
}

.contact-columns .contact-telefono, .contact-columns .contact-chat{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}


.contact-columns .contact-telefono .contact-icon{

    width: 60px;
    height: 60px;
    background-color:var(--icon-blue);
    border-radius: 3rem;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}


.contact-columns .contact-chat .contact-icon{

    width: 60px;
    height: 60px;
    background-color: var(--icon-red);
    border-radius: 3rem;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contact-columns .contact-icon i{

    color: var(--bs-dark);
    font-size: 20px;
}

/* CONTACT */ /* CONTACT INFO */

#contact .contact-info{

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contact .contact-info span{

    
    color:#175cff;
    font-weight: 600;
    font-size: 18px;
}

#contact .contact-info h2{

    color: #0B316F;
}

/*  CONTACT */ /* CONTACT FORM */

#contact .contact-form{

    display: flex;
    flex-direction: column;
    gap:10px;
    width: 550px;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0 0.25rem 0.5625rem -0.0625rem rgb(12 8 0 / 3%), 0 0.275rem 1.25rem -0.0625rem rgb(12 8 0 / 5%);
    border-radius:1rem;
    padding: 25px;
    
    
}

#contact .contact-form .contact-form-title h3{

    font-size: 22px;
}

#contact .contact-form form{

    display: flex;
    flex-wrap:wrap;
    gap: 10px;
    
}

#contact .contact-form form input{

    width: 220px;
    height: 50px;
    border: 2px solid var(--br-input);
    border-radius: 5px;
    margin: 0px 25px 0px 25px;
    font-family: poppins;

}


#contact .contact-form form input[type=checkbox]{

    width: unset;
    height: unset;
    border: 2px solid var(--br-input);
    border-radius: 5px;
}

#contact .contact-form form label{

    font-size: 14px;
    color: #575757;
    
}

#contact .contact-form form label a{

    color: var(--bs-blue);
    
}


#contact .contact-form form select{

    width: 220px;
    height: 50px;
    border: 2px solid var(--br-input);
    border-radius: 5px;
    margin: 0px 25px 0px 25px;
    font-family: poppins;
}


#contact .contact-form form textarea{

    width: 500px;
    height: 150px;
    border: 2px solid var(--br-input);
    border-radius: 5px;
    margin: 0px 25px 0px 25px;
    font-size: 14px;
    font-family: poppins;
}

#contact .contact-form button{

    border: 2px solid transparent;
    border-radius: 10px;
    color: #fff;
    background-color: #175cff;
    border-color: #175cff;
    width: 100%;
    padding: 20px 0px 10px 0px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    align-self: center;
}



/* FOOTER */

footer{
    
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    background-image: url(img/dot-dot-wave-shape.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

footer .columns{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /*background-color: var(--white);*/
}



footer .columns:nth-of-type(1) p{

        width: 400px;
        margin-bottom: 10px;
        font-size: 16px;
        color: #575757;

}
footer .columns:nth-of-type(1) .form-subscribe{

    margin: 10px 0px 10px 0px;
}
footer .columns:nth-of-type(1) input{

    width: 220px;
    height: 50px;
    border: 2px solid var(--br-input);
    border-radius: 5px;
    font-family: Poppins;
    margin-right: 10px;
}

footer .columns:nth-of-type(1) button{

    background-color: var(--btn-bg);
    color:white;
    padding: 16px 30px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}

footer .columns:nth-of-type(1) p.stars{

    color: var(--bs-warning);
}

footer .columns h3{

    color: var(--bs-dark);
    font-size: 20px;
    margin-bottom: 10px;
}

footer .columns ul li{

    padding: 5px 0px 5px 0px;
}


footer .columns ul li a{

    color: #575757;
    font-size: 16px;
    font-weight: 400;
    
}

footer .copyright-social-media{

    display: flex;
    justify-content: space-around;
    background-color: var(--bs-dark);
    padding: 20px 0px 20px 0px;

}

footer .copyright-social-media ul{

    display: flex;
    gap: 20px;
    
}

footer .copyright-social-media ul li i{

    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 5px;
    padding: 5px;
    
}



footer .copyright-social-media p{

    color: var(--white);
}